<div layout-padding>
  <div layout="row" layout-align="center">
    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="filter.name" placeholder="Search name">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Post</label>
      <md-select ng-model="filter.post.symbol">
        <md-option value="">None</md-option>
        <md-option ng-repeat="post in ctrl.posts" value="{{post.symbol}}">
          {{post.symbol}} - {{post.name}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <md-button class="md-primary" ng-click="ctrl.maillist($event, filter)">
        Generate mailing list
      </md-button>
    </md-input-container>
  </div>
</div>
<div layout="row" layout-align="center" ng-if="!ctrl.members">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<md-list>
  <md-list-item class="md-3-line md-long-text" ng-repeat="member in ctrl.members | filter:filter.name:false | filter:filter.post.symbol:true | orderBy:ctrl.memberOrder:1">
    <span class="md-avatar-icon">{{member.post.symbol || '?'}}</span>
    <!-- <img ng-src="/images/members/{{member._id}}.jpg" class="md-avatar" alt="{{member.name}}"/> -->
    <div class="md-list-item-text">
      <h3><b>{{member.name}} ({{member.programme.name}})</b></h3>
      <p ng-if="member.post">{{member.post.name}} {{member.year.toString().substr(-2)}}/{{(member.year + 1).toString().substr(-2)}} - {{'x'.repeat(ctrl.x(member.year))}}{{member.post.symbol}}</p>
      <p><a ng-href="mailto:{{member.mail}}">{{member.mail}}</a> <span ng-if="member.phone"><md-icon>phone</md-icon><a ng-href="tel:{{member.phone}}">{{member.phone}}</a><span></p>
      <p>{{member.adress}}</p>
      <p ng-if="!member.adress">No address record</p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-click="ctrl.edit($event, member)">
      <md-icon>edit</md-icon>
    </md-button>
  </md-list-item>
</md-list>
