<div class="content container">
  <h2>Aspa</h2>
  <p>Every year, a new set of people faces the challenges of organizing the world's most awesome parties. In the spring of every year, a long and dangerous adventure starts for those brave enough to face the aspningsperiod.</p>
  <p>Think you got what it takes? Sign up for the aspning with your email address:</p>
  <form class="form-content">
    <input type="email" name="email" class="form-control pull-left">
    <input type="submit" value="AspU all the way" class="btn btn-primary pull-left">
  </form>
  <br>
</div>