<div class="container">
  <h2>Contact us</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-content">
        <p>If you have any questions regarding a kalas (party) or something else regarding FestU, just contact us! You can either mail, call or send a mail using the contact information below. If you just want to quickly mail us you can also use the form to the right.</p>
        <ul class="list-icons">
          <li><i class="fa fa-map-marker pr-10"></i>Festkommittén FestU<br>Chalmers Studentkår<br>Teknologgården 2<br>412 58 Göteborg</li>
          <li><i class="fa fa-phone pr-10"></i>031-206666</li>
          <li><i class="fa fa-envelope-o pr-10"></i>festu@festu.se</li>
        </ul>
        <!-- Social links -->
        <ul class="social-links">
          <li class="facebook"><a target="_blank" href="https://www.facebook.com/festuchalmers"><i class="fa fa-facebook"></i></a></li>
          <li class="twitter"><a target="_blank" href="https://twitter.com/FestU"><i class="fa fa-twitter"></i></a></li>
          <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/festumusik"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-content">
        <form role="form" id="contact-form">
          <div class="form-group has-feedback">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
            <i class="fa fa-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
            <i class="fa fa-envelope form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <label class="sr-only" for="message">Message</label>
            <textarea class="form-control" rows="8" id="message" placeholder="Message" name="message" required></textarea>
            <i class="fa fa-pencil form-control-feedback"></i>
          </div>
          <input type="submit" value="Send" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  <br>
</div>