<div class="content container">
  <div class="text-center">
    <h2>{{ctrl.party.name}}</h2>
    <h4>{{ctrl.party.date | date:'longDate'}}</h4>
  </div>
  <div class="text-center">
    <img class="party-poster" ng-src="{{ctrl.party.poster.small}}"
      ng-click="showPoster=true">
  </div>
  <div class="fullscreen-poster text-center" ng-if="showPoster">
    <img ng-src="{{ctrl.party.poster.large}}" ng-click="showPoster=false">
  </div>
  
  <h3>Ticket sale</h3>
  <div class="row" ng-repeat="sale in ctrl.party.ticketSale.sales">
    <h4 class="col-xs-4">{{sale.startTime | date:'EEEE d/M H:mm'}}-{{sale.endTime | date:'H:mm'}} *</h4>
    <h4 class="col-xs-8">
      <p>{{sale.locations.join(', ')}}</p>
      <p style="white-space: pre;">{{sale.info}}<p/>
    </h4>
  </div>
  <h5>* {{ctrl.party.ticketSale.note}}</h5>
  <br>

  <div>
    <span class="h3">Earn a free ticket! - </span>
    <span class="h4"><a href="/puffa">Help us with the preparations or tearing down and get a free ticket!</a></span>
  </div>
  <br>
</div>