<div class="content container">
  <div class="row">
    <div class="col-md-4 partywall-container"><a class="partywall" title="{{partyctrl.parties[0].name}}"><img ng-src="{{partyctrl.parties[0].imageURL}}" class="img-responsive"></a></div>
    <div class="col-md-4 partywall-container"><a class="partywall" title="Nollkalaset 2016"><img ng-src="{{partyctrl.parties[1].imageURL}}" class="img-responsive"></a></div>
    <div class="col-md-4 partywall-container"><a class="partywall" title="Nollfinalen 2016"><img ng-src="{{partyctrl.parties[2].imageURL}}" class="img-responsive"></a></div>
  </div>
  <div class="row">
    <div class="col-md-4 partywall-container"><a class="partywall" title="Springbreak 2015"><img ng-src="{{partyctrl.parties[0].imageURL}}" class="img-responsive"></a></div>
    <div class="col-md-4 partywall-container"><a class="partywall" title="Halloween 2015"><img ng-src="{{partyctrl.parties[1].imageURL}}" class="img-responsive"></a></div>
    <div class="col-md-4 partywall-container"><a class="partywall" title="Kårhusfestivalen 2015"><img ng-src="{{partyctrl.parties[2].imageURL}}" class="img-responsive"></a></div>
  </div>
</div>