<div class="content container partywall">
  <div class="row">
    <div infinite-scroll="fetchMoreParties()" infinite-scroll-immediate-check="1" infinite-scroll-distance="1">
      <div ng-repeat="party in ctrl.parties" ng-animate="{enter: 'animate-enter'}">
        <div class="clearfix" ng-if="$index % (windowWidth > 992 ? 3:2) == 0"></div>
        <div class="col-md-4 col-sm-6">
          <a href="{{party.cffc}}" title="{{party.name}} {{party.date | date:'yyyy'}}">
            <img ng-src="/parties/images/{{party._id}}.jpg" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>