<div id="posterModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ctrl.party.name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <img class="party-poster" ng-src="/images/parties/{{ctrl.party._id}}_small.jpg">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<h2 class="mt-3 mb-2 text-center">Previous Kalas</h2>
<div class="content partywall row"
    infinite-scroll="fetchMoreParties()"
    infinite-scroll-immediate-check="1"
    infinite-scroll-distance="1">
  <div ng-repeat="party in ctrl.parties" ng-animate="{enter: 'animate-enter'}" class="col-md-4 col-sm-6">
    <a href="{{party.cffc}}" title="{{party.name}} {{party.date | date:'yyyy'}}">
      <img ng-src="/images/parties/{{party._id}}.jpg" class="img-responsive">
      <span>
        {{party.name}} {{party.date | date:'yyyy'}}
        <button ng-click="openPartyPoster($event, party)">
          <i class="fa fa-file-image"></i>
        </button>
      </span>
    </a>
  </div>
</div>
