.about-description a,
.about-description a:hover {
  color: #000;
  text-decoration: none;
  cursor: text;
}
.member {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.member > div {
  max-width: 100%;
  overflow: hidden;
}
.member .picture {
  position: relative;
}
.member img {
  max-width: 100%;
}
.member .avatar {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(128,0,0,0.8);
  border-radius: 50%;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: middle;
}