[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* --------------------- */
/* HTML and body         */
/* --------------------- */
html,
body {
  height: 100%;
  font-size: 0.85rem;
}

body {
  font-family: 'Open Sans', sans-serif !important
}
a {
  color: #337ab7;
}
/* --------------------- */
/* Navbar                */
/* --------------------- */
.navbar {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
}
.navbar-toggler {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item .nav-link {
  width: 128px;
  font-size: 16px;
  text-shadow: 0 4px 6px rgba(20,20,20,0.2);
  text-decoration: none !important;
  text-align: center;
}
.nav-item .nav-link:hover {
  color: #444;
  transform: scale(1.1);
}
.nav-item .nav-link.active {
  color: #000;
  text-shadow: 0 6px 5px #aaa;
}
.nav-item.brand .nav-link{
  padding-top: .3125rem;
  padding-bottom: .3125rem;
}
.navbar-brand img,
.nav-item.brand img {
  -webkit-filter: opacity(0.8);
  transition: all .15s ease-in-out;
}
.navbar-brand img:hover,
.nav-item.brand img:hover {
  -webkit-filter: opacity(1);
  transform: scale(1.1);
}
.nav-item.brand .nav-link.active img {
  -webkit-filter: drop-shadow(0 6px 4px #aaa);
}

/* --------------------- */
/* Content               */
/* --------------------- */
div[ng-view] {
  padding-top: 85px;
  min-height: calc(100% - 80px);
}
.content {
  margin: 0 16px;
}

/* --------------------- */
/* Footer                */
/* --------------------- */
.footer {
  height:80px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-top: 3px solid;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
}
.footer .contact-info {
  height: 60px;
  display: grid;
  grid-auto-flow: row;
  font-size: 12px;
}
.footer .logos {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.footer .logos img {
  max-width: 100%;
}

/* --------------------- */
/* Image posters         */
/* --------------------- */
img.party-poster {
  width: 100%;
  margin-top: 26px;
}

/* --------------------- */
/* Party photos          */
/* --------------------- */
.partywall .col-md-4{
  padding-left: 0px !important;
  padding-right: 0px !important;  
  padding: 4px !important;
}
.partywall img {
  width: 100%;
  border-radius: 8px;
}

.partywall span {
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 4px;
  padding-left: 20px;
  background: rgba(0,0,0,0.55); 
  border-top-right-radius: 8px; 
  border-bottom-left-radius: 8px;
  text-decoration: none !important;
  color: #fff;
  opacity: 1;
}
.partywall button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
}

.partywall .ng-enter {
  -webkit-transition: 1.5s linear all;
  transition: 1.5s linear all;
  opacity: 0;
}
 
.partywall .ng-enter-active {
  opacity: 1;
}

/* --------------------- */
/* Contact form          */
/* --------------------- */
.list-icons {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}
.list-icons li {
  padding: 0 0 15px 0;
}

.btn {
  padding: 8px 15px !important;
  font-size: 14px ;
  line-height: 1.42857143;
  min-width: 160px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-primary {
  color: #CC0000;
  border: 1px solid #cccccc;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #CC0000;
  border-color: #CC0000;
}
