.card {
  padding: 8px;
}
.card .picture {
  position: relative;
}
.card img {
  max-width: 100%;
  border-radius: 50%;
}
.card a {
  color: #000;
  text-decoration: none;
}
.card .col-xs-4 {
  padding: 0;
}
.card .avatar {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(128,0,0,0.8);
  border-radius: 50%;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.card h4 span {
  font-size: 14px;
}