
/* --------------------- */
/* Banner                */
/* --------------------- */

.banner {
  position: relative;
  height: calc(100vh - 96px);
  padding: 10vh 0;
  background-position: center;
  background-size: cover;
  background-image: url(/images/banner.jpg);
  color: #fff;
}
.banner::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: auto;
}

.banner .card {
  display: block;
  max-width: 400px;
  margin: auto;
  margin-top: 32px;
  padding: 16px;
  background-color: rgba(32,32,32,0.8);
  color: #CCC;
  text-decoration: none !important;
  border: 1px solid #ccc;
  border-radius: 4px; 
}
.banner .card {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.banner .card:hover { 
  background-color: rgba(64,32,32,0.8);
  color: white !important;
  border-color: #f44;
}

a.anchor {
  display: block;
  position: relative;
  top: -96px;
  visibility: hidden;
}