/* --------------------- */
/* HTML and body         */
/* --------------------- */
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif !important
}

/* --------------------- */
/* Header spans          */
/* --------------------- */
h1 span,
h2 span,
h3 span,
h4 span {
  color: #CC0000;
}

/* --------------------- */
/* Navbar                */
/* --------------------- */
.navbar{
  width: 100%;
  background: white;
}

.menu.center-block {
  display: table;
  white-space: nowrap;
  border: 0;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
  border-bottom: 3px solid;
}

.menu-item {
  display: inline-block;
  font-size: 18px;
  padding: 16px;
}

.menu-item a {
  text-shadow: 0 4px 6px rgba(20,20,20,0.2);
  color: #888;
  text-decoration: none !important;
}

.menu-item.active a {
  color: #000;
  text-shadow: 0 6px 5px #aaa;
}
.menu-item.brand {
  -webkit-filter: opacity(0.8);
}
.menu-item.active.brand {
  -webkit-filter: drop-shadow(0 6px 4px #aaa);
}

.menu-item { transition: transform .15s ease-in-out; }
.menu-item:hover { transform: scale(1.1); }
.menu-item.brand:hover { transform: scale(1.2); }

.delimiter-top{
  padding-top: 134px;
}

/* --------------------- */
/* Asp alert             */
/* --------------------- */
body .alert {
  margin: 12px;
}

/* --------------------- */
/* Content               */
/* --------------------- */
div[ng-view] {  
}

div.content {
  padding: 0 16px;
}

/* --------------------- */
/* Footer                */
/* --------------------- */
.footer {
  background: rgba(255,255,255, 0.9);
  padding: 16px;
}

/* --------------------- */
/* Image posters         */
/* --------------------- */
img.party-poster {
  width: 340px;
}

.fullscreen-poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}
.fullscreen-poster img {
  width: 80%;
  padding: 32px;
}

/* --------------------- */
/* Banner                */
/* --------------------- */
.banner {
  width: 100%;
  height: 87%;
  min-height: 87%;
  position: relative;
  color: #fff;
}
.banner-image {
  vertical-align: middle;
  min-height: 100%;
  width: 100%;
}
.banner:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  content: "";
}
.banner-caption {
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: 2;
}

/* Party photos */
.partywall-container{
  padding-left: 0px !important;
  padding-right: 0px !important;  
}

a.partywall:after {
  content: attr(title);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5em 20px;
  width: 100%;
  background: rgba(0,0,0,0.8);
  text-decoration: none !important;
  color: #fff;
  opacity: 1;
}