/* CSS */
.menu.center-block {
  display: table;
  white-space: nowrap;
  border-bottom: 1px solid black;
}
.menu-item {
  display: inline-block;
  font-size: 18px;
  padding: 16px;
}
.menu-item a {
  color: pink;
}
.menu-item a:hover {
  color: yellow;
  text-decoration: none;
  transform: -webkit-scale(2, 2);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
}