/* CSS */
body {
  font-family: 'Open Sans', sans-serif !important;
}
.header {
  position: fixed;
  width: 100%;
  background: white;
}
.menu.center-block {
  display: table;
  white-space: nowrap;
  border: 0;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
  border-bottom: 3px;
}
.menu-item {
  display: inline-block;
  font-size: 18px;
  padding: 16px;
}
.menu-item a {
  text-shadow: 0 4px 6px rgba(20,20,20,0.2);
  color: initial !important;
  text-decoration: none !important;
}
.menu-item.brand a { transition: all .2s ease-in-out; }
.menu-item.brand a:hover { font-size: 24px; }

body .alert {
  margin: 12px;
  border-radius: 0;
}

div.content {
  padding-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.divider {
  border-top: 1px solid #aaa;
}
.footer {
  background: rgba(255,255,255, 0.9);
  padding: 16px;
}

img.party-poster {
  width: 340px;
}
.fullscreen-poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}
.fullscreen-poster img {
  width: 80%;
  padding: 32px;
}