/* CSS */
body {
  font-family: 'Open Sans', sans-serif !important;
}

.header {
  /*width: 100%;
  position: fixed;*/
}
.navbar.navbar-default {
  background-image: none;
  background-color: white;
  border: none;
  box-shadow: none;
}
.navbar .navbar-container {
  border: 0;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
  border-bottom: 3px solid;
}

/*Mobile logo*/
a.navbar-brand {
  display: block;
  width: 100%;
  height: auto;
}
.navbar-brand img {
  margin: auto;
}
@media (min-width: 768px) {
  a.navbar-brand {
    display: none;
  }
}

/*Collapse button*/
button.navbar-toggle {
  position: absolute;
  right: 0;
  margin-top: 28px;
}

/*List item container*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-collapse {
  text-align: center;
}

/*List item style*/
.nav.navbar-nav > li:not(.brand) {
  padding-top: 26px;
}
.nav.navbar-nav > li a {
  font-size: 16px;
  color: #888;
  text-shadow: 0 4px 6px rgba(20,20,20,0.2);
  text-decoration: none !important;
}
.nav.navbar-nav > li a.active {
  color: #000;
  text-shadow: 0 6px 5px #aaa;
}
.nav.navbar-nav > li.brand img {
  -webkit-filter: opacity(0.8);
  transition: all .15s ease-in-out;
}
.nav.navbar-nav > li.brand img:hover {
  -webkit-filter: opacity(1);
  transform: scale(1.1);
}
.nav.navbar-nav > li.brand a.active img {
  -webkit-filter: drop-shadow(0 6px 4px #aaa);
}
@media (max-width: 768px) {
  .nav.navbar-nav > li.brand {
    display: none;
  }
}



body .alert {
  margin: 12px;
}

div[ng-view] {
  padding-top: 96px;
}

div.content {
  padding: 0 16px;
}

.divider {
  border-top: 1px solid #aaa;
}
.footer {
  background: rgba(255,255,255, 0.9);
  padding: 16px;
}

img.party-poster {
  width: 340px;
}
.fullscreen-poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}
.fullscreen-poster img {
  width: 80%;
  padding: 32px;
}