/* CSS */
body {
  font-family: 'Open Sans', sans-serif !important;
}
.menu.center-block {
  display: table;
  white-space: nowrap;
  border: 0;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
  border-bottom: 3px;
  margin-bottom: 8px;
}
.menu-item {
  display: inline-block;
  font-size: 18px;
  padding: 16px;
}
.menu-item a {
  text-shadow: 0 4px 6px rgba(20,20,20,0.2);
  color: initial !important;
  text-decoration: none !important;
}
.menu-item.brand a { transition: all .2s ease-in-out; }
.menu-item.brand a:hover { font-size: 24px; }

body .alert {
  margin: 12px;
  border-radius: 0;
}

.footer {
  background: rgba(255,255,255, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
}