/* --------------------- */
/* HTML and body         */
/* --------------------- */
html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif !important
}

.space {
  padding: 20px 0;
}

/* --------------------- */
/* Header spans          */
/* --------------------- */
h1 span,
h2 span,
h3 span,
h4 span {
  color: #CC0000;
}
/* --------------------- */
/* Navbar                */
/* --------------------- */

.navbar.navbar-default {
  margin: 0;
  background-image: none;
  background-color: white;
  border: none;
  box-shadow: none;
}
.navbar .navbar-container {
  height: 96px;
  border: 0;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
  border-bottom: 3px solid;
  width: 100%;
}

/*Mobile logo*/
a.navbar-brand {
  display: block;
  width: 100%;
  height: auto;
}
.navbar-brand img {
  margin: auto;
}
@media (min-width: 768px) {
  a.navbar-brand {
    display: none;
  }
}

/*Collapse button*/
button.navbar-toggle {
  position: absolute;
  right: 0;
  margin-top: 28px;
}

/*List item container*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
#navbar {
  background: white;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}

/*List item style*/
.nav.navbar-nav > li {
  width: 128px;
}
@media(min-width: 768px) {
  .navbar .navbar-collapse {
    max-height: 92px !important;
  }
  .nav.navbar-nav > li:not(.brand) {
    padding-top: 26px;
  }
}
.nav.navbar-nav > li a {
  font-size: 16px;
  color: #888;
  text-shadow: 0 4px 6px rgba(20,20,20,0.2);
  text-decoration: none !important;
}
.nav.navbar-nav > li a:hover {
  color: #444;
  transform: scale(1.1);
}
.nav.navbar-nav > li a.active {
  color: #000;
  text-shadow: 0 6px 5px #aaa;
}
.nav.navbar-nav > li.brand img {
  -webkit-filter: opacity(0.8);
  transition: all .15s ease-in-out;
}
.nav.navbar-nav > li.brand img:hover {
  -webkit-filter: opacity(1);
  transform: scale(1.1);
}
.nav.navbar-nav > li.brand a.active img {
  -webkit-filter: drop-shadow(0 6px 4px #aaa);
}
@media (max-width: 768px) {
  .nav.navbar-nav > li.brand {
    display: none;
  }
}

/* --------------------- */
/* Asp alert             */
/* --------------------- */
body .alert {
  margin: 12px;
}

/* --------------------- */
/* Login page            */
/* --------------------- */
.login img{
  max-width: 100%; 
  height: auto; 
}

/* --------------------- */
/* Content               */
/* --------------------- */
div[ng-view] {
  padding-top: 96px;
  min-height: calc(100% - 80px);
}
div.content {
  padding: 0 16px;
}

/* --------------------- */
/* Footer                */
/* --------------------- */
.footer {
  background: rgba(0,0,0, 0.05);
  height:80px;
  padding: 8px;
  border: 0;
  border-image: linear-gradient(to right, red, purple, orange) 1 0 100;
  border-top: 3px solid;
}

.footer span {
  font-size: 12px;
}

.footer .logos {
  display: flex;
  padding: 4px; 
}
.footer .logos a {
  padding: 0 4px;
}
.footer .logos img {
  max-width: 100%;
}

/* --------------------- */
/* Image posters         */
/* --------------------- */
img.party-poster {
  width: 100%;
  max-width: 140px;
  margin-top: 26px;
}

.fullscreen-poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}
.fullscreen-poster img {
  width: 80%;
  padding: 32px;
}


/* --------------------- */
/* Party photos          */
/* --------------------- */
.partywall .col-md-4{
  padding-left: 0px !important;
  padding-right: 0px !important;  
  padding: 4px !important;
}
.partywall img {
  border-radius: 8px;
}

.partywall a:after {
  content: attr(title);
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 0.5em 20px;
  background: rgba(0,0,0,0.55); 
  border-top-right-radius: 8px; 
  border-bottom-left-radius: 8px;
  text-decoration: none !important;
  color: #fff;
  opacity: 1;
}

.partywall .ng-enter {
  -webkit-transition: 1.5s linear all;
  transition: 1.5s linear all;
  opacity: 0;
}
 
.partywall .ng-enter-active {
  opacity: 1;
}

/* --------------------- */
/* CHS colors            */
/* --------------------- */
.bg-chs-white {
    background: #FFFFFF;
}

.bg-chs-blue {
    background: #00a8ff;
    color: white;
}

.bg-chs-green {
    background: #4AB08C;
    color: white;
}

.bg-chs-red {
    background: #D5767E;
    color: white;
}

.bg-chs-purple {
    background: #8F76AA;
    color: white;
}
/* --------------------- */
/* Contact form          */
/* --------------------- */
.list-icons {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}
.list-icons li {
  padding: 0 0 15px 0;
}

.social-links {
  padding: 0;
  list-style: none;
  margin: 15px 0;
}
.social-links li {
  margin: 10px 25px 10px 0;
  display: inline-block;
  font-size: 36px;
}
.social-links li a {
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.social-links li.twitter a:hover {
  color: #CC2929;
}
.social-links li.skype a:hover {
  color: #00aff0;
}
.social-links li.linkedin a:hover {
  color: #0976b4;
}
.social-links li.googleplus a:hover {
  color: #dd4b39;
}
.social-links li.youtube a:hover {
  color: #b31217;
}
.social-links li.flickr a:hover {
  color: #ff0084;
}
.social-links li.facebook a:hover {
  color: #3b5998;
}
.social-links li.pinterest a:hover {
  color: #cb2027;
}

.form-control {
  height: 45px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.form-control-feedback {
  color: #cccccc;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 10px !important;
}
textarea {
  resize: vertical;
}

.pr-10 {
  padding-right: 10px;
}

.form-content .pull-left {
  width: auto;
  margin-right: 8px;
}
.form-content .btn {
  padding: 8px 15px !important;
  font-size: 14px ;
  line-height: 1.42857143;
  min-width: 160px;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-content .btn-primary {
  color: #CC0000;
  border: 1px solid #cccccc;
}
.form-content .btn-primary:hover {
  color: #ffffff;
  background-color: #CC0000;
  border-color: #CC0000;
}
