.page {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  & .group.flex {
    flex: 1;
    margin-right: 8px;
  }
}
.row .group.email {
  flex: 2;
}
.group {
  position: relative;
  margin: 16px 0;
  display: flex;
}

.poster {
  width: 100%;
  padding: 8px;
  border: solid 1px black;

  & img {
    width: 100%;
    height: 100%;
  }
}

.images {
  overflow-x: scroll;
  & span {
    flex: 0 0 128px;
    display: flex;
    border: 4px solid transparent;
  }
  & img {
    width: 100%;
    height: 100%;
  }
  & .selected { border: 4px solid #EF5350; }
}
.buttons {
  display: flex;
  justify-content: flex-end;
  & button {
    flex: 0 1 128px;
    margin: 16px 8px;
    padding: 8px;
    font-size: 18px;
    background: initial;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    &:hover { background: #fafafa; }
    &.deceased {
      flex: 0 1 64px;
      background: #555;
      color: white;
    }
    &.delete {
      flex: 0 1 64px;
      color: white;
      background: #ff4242;
      &:hover { background: #dd4242; }
    }
    &.save {
      color: white;
      background: #42bb64;
      &:hover { background: #429964; }
    }
  }
}